<div class="row state-overview well">
  <%= render :partial => 'team_show_sidebar' %>
  <aside class="profile-info col-lg-9">
    <div class="form-group form_control">
      <div class="panel">
        <div class="panel-heading"><span>
          <h3><i class="fa fa-users"></i> </span> Members</h3>
        </div>
        <div class="panel-body well">
          <%= render :partial => 'list_team_member' %>
        </div>
      </div>
    </div>
  </aside>
</div>