<div class="col-md-2">
  <div class="pull-right">
    <div class="name-panel">
      <br>
      <%= link_to  "/auth/google_oauth2", id: "sign_in", :class => "btn btn-danger btn-lg" do %>
        <span><i class="fa fa-google-plus fa-2x"></i> &nbsp; &nbsp;Sign in with Google</span>
      <% end %>
    </div>
  </div>
</div>
