<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      
      <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-key"></i>
            <span><h5>Login and Logout</h5></span>
          </a>
          <ul class="sub">
            <li>
                <a href="#login">
                  <i class="fa fa-key"></i>
                  <span>Login</span>
                </a>
            </li>
           
            <li>
                <a href="#logout">
                  <i class="fa fa-lock"></i>
                  <span>Logout</span>
                </a>
            </li>
          </ul>
        </li>

        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-users"></i>
            <span><h5>Employee Profile</h5></span>
          </a>
          
          <ul class="sub">
            <li>
                <a href="#userprofile">
                  <i class="fa fa-user"></i>
                  <span>View Profile</span>
                </a>
            </li>
            <li>
                <a href="#UpcommingBirthdays">
                  <i class="fa fa-gift"></i>
                  <span>Upcomming Birthdays</span>
                </a>
            </li>            
          </ul>
        </li>
      
      <li>
          <a href="#PMList">
          <i class="fa fa-user"></i>
          <span style='cursor:pointer;'> <h5>Project Managers List</h5> </span>
          </a>
      </li>

      <li>
          <a href="#FactorList">
          <i class="fa fa-thumb-tack"></i>
          <span style='cursor:pointer;'> <h5>Factor List </h5></span>
          </a>
      </li>

      <li class="sub-menu">
        <a href="javascript:;">
          <i class=" fa fa-star"></i>
          <span><h5>Ratings</h5></span>
        </a>
        <ul class="sub">
          <li>
              <a href="#ViewRating">
                <i class="fa fa-star-half-o"></i>
                <span>Developer</span>
              </a>
          </li>

         <li>
              <a href="#RatingIndex">
                <i class="fa fa-star"></i>
                <span>Team Members</span>
              </a>
          </li>

          <li>
              <a href="#EditRating">
                <i class="fa   fa-edit"></i>
                <span>Edit Rating</span>
              </a>
          </li>
        </ul>
      </li>
      
      <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-users"></i>
              <span><h5>Team</h5></span>
            </a>
          <ul class="sub">
            <li>
                <a href="#Team-Index">
                  <i class="fa fa-list"></i>
                  <span>Index</span>
                </a>
            </li>
           
            <li>
                <a href="#Add-Member-to-team">
                  <i class="fa fa-plus"></i>
                  <span>Add Members To team</span>
                </a>
            </li>
          </ul>
        </li>      
    </ul>
  </div>
</aside>