<% provide(:title, 'Factor') %>
<div class="row well ">
    <div class="col-lg-12">
      <div id="factor_form">
        <%= render "form_new" %>
        <%= render 'list_factors'%>
      </div>
    </div>
</div>