$("#tech_form").html("<%= escape_javascript(render :partial=> 'form') %>");
$("#heading").html('<span><h3><i class="fa fa-edit"></i> </span> Edit Technology</h3>');
$("#linkdiv").html('<hr><%= link_to "Cancel", new_technology_path, :class => "btn btn-success" %>');
